@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/DancingScript-VariableFont.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
